card {
    text-align: center;
}
.card-img-top {
    max-width: 300px;
}
/* Зачеркивание */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

/* Эффект наведения */
ul li:hover {
    background: #ddd;
}

/* Реализация "невыбираемости" списка */
ul li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px 12px 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }